POSTGRES_DB=collabspace
POSTGRES_USER=collabspace
POSTGRES_PASSWORD=collabspace
POSTGRES_PORT=5432

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/collabspace
SPRING_DATASOURCE_USERNAME=collabspace
SPRING_DATASOURCE_PASSWORD=collabspace
